#animal-fact {
  font-style: italic;
}

span {
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  border-radius: 5px;
}

.main-border {
  background-color: lightslategrey;
  border-radius: 5px;
  width: 310px;
  border-style: solid;
  border-width: 1px;
  border-color: darkslategrey;
  padding: 0px 5px 0px 15px;
  box-shadow: 15px 15px 10px lightgray;
}

.second-border {
  border-radius: 5px;
  width: 290px;
  border-style: solid;
  border-width: 1px;
  border-color: darkslategrey;
  padding: 0px 5px 0px 5px;
  margin: 7px 10px 13px 0px;
}